{% extends "auctions/layout.html" %}
{% block title %}

    Closed Listings

{% endblock %}
{% block body %}
    <h2>Closed Listings</h2>
    <hr>
    {% for listing in listings %}
        {% if not listing.is_active %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center my-auto">
                        <a href="{% url 'listing' listing.id %}">
                            <img src="{{ listing.image_url }}" class="img-fluid listing-image rounded-start" alt="{{ listing.title }}">
                        </a>
                    </div>
                    <div class="col-md-8 my-auto">
                        <div class="card-body">
                            <i>
                                <a href="{% url 'listing' listing.id %}">
                                    <h5 class="card-title">{{ listing.title }}</h5>
                                </a>
                            </i>
                            <p class="card-text">{{ listing.subtitle }}</p>
                            <p class="card-text">{{ listing.description|truncatechars:100 }}</p>
                            <p class="card-text">Sold for: <strong>${{ listing.current_price }}</strong></p>
                            <p class="card-text"><small class="text-muted">Uploaded: {{ listing.created }}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}