{% extends "auctions/layout.html" %}
{% block title %}
    {{ listing.title }}
{% endblock %}
{% block body %}
<div class="card mb-3 ">
    <div class="row g-0">
        <div class="col-md-4 ps-3 d-flex justify-content-center">
            <img src="{{ listing.image_url }}" class="my-4 img-fluid rounded listing-image" alt="{{ listing.title }}">
        </div>
        <div class="col-md-8 text-center my-auto">
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <p class="card-text"><i>{{ listing.subtitle }}</i></p>
                <p class="card-text">
                    Current Price: 
                    <strong>$
                        {% if bids %}
                            {{ listing.current_price }}
                        {% else %}
                            {{ listing.price }}
                        {% endif %}
                    </strong>
                </p>
                <p class="card-text"><small class="text-muted">Uploaded: {{ listing.created }}</small></p>
                {% if user.is_authenticated %}
                    {% if listing in wishlist %}
                        <a href="{% url 'remove_from_wishlist' listing.id %}" class="btn btn-secondary">Remove From Wishlist <i class="bi bi-star-fill"></i></a>
                    {% else %}
                        <a href="{% url 'add_to_wishlist' listing.id %}" class="btn btn-secondary">Add to Wishlist <i class="bi bi-star"></i></a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row justify-content-around text-center">
            <div class="col-md-8">
                <h3 class="">Item Description</h3>
                <p class="card-text my-3">{{ listing.description }}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="mb-3">Item Details</h3>
                <p>Listed By: {{ listing.user }}</p>
                <p>Item Condition: {{ listing.condition.get_friendly_name }}</p>
                <p>Item Category: {{ listing.category.get_friendly_name }}</p>
                <p>Amount of Bids: {{ bids|length }}</p>
                {% if bids %}
                    <p>Highest Bidder: {{ highest_bid.user }}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3 class="mb-3 text-center">Place Bid</h3>
                <form action="{% url 'place_bid' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ bid_form.bid }}
                    <button type="submit" class="mb-3 btn btn-primary" name="place_bid">Place Bid</button>
                </form>
            </div>
        </div>
        {% if comments %}
        <hr>
        <div class="row">
            <div class="col-12">
                <h3>Comments</h3>
                {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ comment.user }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.date }}</h6>
                        <p class="card-text">{{ comment.comment }}</p>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% if user.is_authenticated %}
        <hr>
        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">Leave a comment...</h3>
                <h5>You are commenting as: {{ request.user }}</h5>
                <form action="{% url 'leave_comment' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.comment }}
                    <button type="submit" class="mb-3 btn btn-primary" name="comment_form">
                        Leave Comment
                    </button>
                </form>
            </div>
        </div>
    {% else %}
        <div class="row text-center">
            <div class="col-12">
                <h5>To leave comments on a listing, you must first sign in or register an account</h5>
            </div>
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}